<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>
    <springProperty scope="context" name="logLevel" source="logging.level.root"/>
    <!-- 日志级别 -->
    <property name="logLevel" value="ERROR"></property>
    <!-- 日志地址 -->
    <property name="logPath" value="/zzb/logs/"></property>
    <!--<property name="logPath" value=""></property>-->

    <!-- 最大保存时间 -->
    <property name="maxHistory" value="30"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%-5p) %date{HH:mm:ss.SSS} - %cyan(%-45c{1}) %m%n</pattern>
        </encoder>
    </appender>
    <appender name="f_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}${applicationName}.log</file>
        <encoder>
            <pattern>[%-5p] %date{HH:mm:ss.SSS,Australia/Perth} - %-45c{1} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}${applicationName}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="f_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}${applicationName}-error.log</file>
        <encoder>
            <pattern>[%-5p] %date{HH:mm:ss.SSS,Australia/Perth} - %-45c{1} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}${applicationName}-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>


    <!--<appender name="ELASTIC"-->
              <!--class="cc.xf119.zjzq.support.log.es.ElasticAppender">-->
        <!--<applicationName>${applicationName}</applicationName>-->
        <!--<host>dev.bodtec.cn</host>-->
        <!--<port>9300</port>-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>ERROR</level>-->
        <!--</filter>-->
    <!--</appender>-->

    <logger name="org.apache.commons.beanutils.converters" level="warn"/>
    <logger name="org.mybatis.spring" level="warn"/>
    <logger name="org.apache.ibatis.logging.jdbc.BaseJdbcLogger" level="warn"/>
    <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="warn"/>
    <logger name="freemarker" level="warn"/>
    <!--<logger name="org.springframework.amqp.rabbit.listener" level="warn"/>-->
    <logger name="org.apache.http" level="warn"/>
    <logger name="org.springframework.data.redis.core.RedisConnectionUtils" level="warn"/>
    <logger name="cc.xf119.yf" level="INFO" />
    <springProfile name="develop,testing">
        <root level="${logLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="f_all"/>
            <appender-ref ref="f_error"/>
            <!--<appender-ref ref="ELASTIC" />-->
        </root>
    </springProfile>
    <springProfile name="beta,product,demo">
        <root level="${logLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="f_all"/>
            <appender-ref ref="f_error"/>
        </root>
    </springProfile>
</configuration>


